button:hover {
    cursor: pointer;
}
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Style for the individual pagination buttons */
#pagination button {
    background-color: #808080;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    transform: scale(1);
}

#pagination button:hover {
    background-color: #555; /* Darker color on hover */
    transform: scale(1.1); /* Slight scale-up on hover for a smooth animation */
}

/* Style for the current page button */
#pagination .current {
    background-color: #444;
    transform: scale(1.1); /* Slight scale-up for the current page button */
}



table {
    margin: 20px auto;
    /* Center the table horizontally */
    max-width: 100%;
    /* Limit the table width to 80% of the container */
    border-collapse: collapse;
}


table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

